{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}{{page.title}}{% endblock %}

{% block content %}
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area jarallax" style="background-image:url({% static 'clientstatic/img/bg/1.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner">
                        <h1 class="page-title">{{page.title}}</h1>
                        <ul class="page-list">
                            <li><a href="{% url 'tntapp:clienthome' %}">Home</a></li>
                            <li>{{page.title}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area End -->

    <!-- blog area start -->
    <div class="blog-details-area pd-top-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-blog mb-0">
                        {% if page.image %}
                        <div class="thumb">
                            <img src="{{page.image.url}}" alt="blog">
                        </div>
                        {% endif %}
                        <div class="single-blog-details">
                            <h3 class="title">{{page.title}}</h3>
                            <p class="content mb-0">{{page.description|safe}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <aside class="sidebar-area sidebar-area-4">
                        <div class="widget widget_search bg-none pd-none">
                            <form class="search-form" action="{% url 'tntapp:clientsearch' %}">
                                <div class="form-group">
                                    <input type="text" placeholder="Search" name="q">
                                </div>
                                <button class="submit-btn" type="submit"><i class="ti-search"></i></button>
                            </form>
                        </div>
                        <div class="widget widget_categories">
                            <h2 class="widget-title">Also see</h2>
                            <ul>
                                {% for page in pages %}
                                <li><a href="{% url 'tntapp:clientpagedetail' page.slug %}">{{page.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget widget_categories">
                            <h2 class="widget-title">Browse our packages</h2>
                            <ul>
                                {% for pc in packagecategorylist %}
                                <li><a href="{% url 'tntapp:packagecategorydetail' pc.title pc.id %}">{{pc.title}}</a> {{pc.package_set.count}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget widget-recent-post">
                            <h2 class="widget-title">Recent Post</h2>
                            <ul>
                                {% for blog in recentblogs %} 
                                <li>
                                    <div class="media">
                                        <img src="{{blog.image.url}}" alt="widget" style="width: 30%;">
                                        <div class="media-body">
                                            <span class="post-date">{{blog.created_at|date}}</span>
                                            <h6 class="title"><a href="{% url 'tntapp:clientblogdetail' blog.id %}">{{blog.title}}</a></h6>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <div class="widget_ads">
                            <a href="#"><img class="w-100" src="{% static 'clientstatic/img/others/01.png' %}" alt="img"></a>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- blog area End -->
    

 {% endblock %}
 
