{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="{% static 'clientstatic/demo.jpg' %}">
	<link rel="stylesheet" href="{% static 'clientstatic/demo.css' %}">
	<title>La Globe Travel and Tour Pvt Ltd</title>
</head>
<body>
	<div class="bgimg">
		<div class="middle">
			<h1>La Globe Travel and Tour Pvt Ltd</h1>
			<div class="flip-box">
				<div class="flip-box-inner">
					<div class="flip-box-front">
						<img src="{% static 'clientstatic/demo.jpg' %}">
					</div>
					<div class="flip-box-back">
						<h2>WEBSITE COMMING SOON...</h2>
					</div>
				</div>
			</div>

		</div>

	</div>
	<div class="footer">
		<h4>Designed by: <a href="https://sarobartech.com" target="_blank">Sarobar Technology</a></h4>
	</div>


</body>
</html>