{% extends 'admintemplates/adminbase.html' %}
{% load static  %}

{% block title %}Service Management{% endblock %}
{% block packagecategorylist %}active{% endblock %}
{% block packagecategorylistid %}active{% endblock %}




{% block content %}
<div class="container-fluid">
  <div class="row">
  	<div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon">
            <i class="material-icons">group</i>
          </div>
          <h4 class="card-title">Package-Category List</h4>
        </div>
        <div class="card-body">
          <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
            <a href="{% url 'tntapp:adminpackagecategorycreate' %}" class="pull-right"><i class="material-icons" style="font-size: 50px">add_circle</i></a> 
          </div>
          <div class="material-datatables">
            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100" style="width:100%">
              <thead class="thead-dark">
                <tr>
                  <th>SN</th>
                  <th>Title</th>
                  <th>Created_at</th>
                  <th class="disabled-sorting text-right" style="width: 280px;">Actions</th>
                </tr>
              </thead >
              <tfoot>
                <tr>
                  <th>SN</th>
                  <th>Title</th>
                  <th>Created_at</th>
                  <th class="disabled-sorting text-right" style="width: 280px;">Actions</th>
                </tr>
              </tfoot>
              <tbody>
              	{% for packagecategory in adminpackagecategorylist %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td><a href="">{{packagecategory.title}}</a></td>
                  <td>{{packagecategory.created_at}}</td>
                  <td class="text-right" style="width: 280px;">

                    <a class="btn btn-info btn-just-icon" href="{% url 'tntapp:adminpackagecategoryupdate' packagecategory.id %}"><i class="fa fa-pencil"></i></a> 
                    <a class="btn btn-danger btn-just-icon" data-remote="{% url 'tntapp:adminpackagecategorydelete' packagecategory.id %}" data-toggle="modal" data-target="#main-modal" href="{% url 'tntapp:adminpackagecategorydelete' packagecategory.id %}"><i class="fa fa-trash"></i></a>
                  </td>
                  
                  
                  
              
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!-- end content-->
      </div>
      <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
  </div>
  <!-- end row -->
</div>

{% endblock %}

{% block js %}
<script src="{% static 'adminstatic/js/plugins/jquery.datatables.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#datatables').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, "All"]
      ],
      responsive: true,
      language: {
        search: "_INPUT_",
        searchPlaceholder: "Search records",
      }
    }); 
  });
</script>

{% endblock %}